Django==6.*
djangorestframework
channels
daphne
channels-redis
psycopg2-binary
python-dotenv
django-cors-headers
django-storages
boto3
Pillow
django-ratelimit
bleach
uvicorn[standard]
gunicorn
whitenoise
dj-database-url
pillow-heif